body{
    background-color: #185888;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}

h3, h2{
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.65);
}

a{
    cursor: pointer;
}
/* 
search History styles
=======================================================================================================================
*/
.saved-search{
    text-transform: capitalize;
    cursor: pointer;
    margin: 10px 0;
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 3px 8px;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(20px);
    color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.saved-search:hover{
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
}

.btn{
    display: block;
    margin: 0 auto 40px auto;
}

#pastSearchesDiv{
    max-height: 600px;
    overflow-y: scroll;
    padding: 0 10px 0 0; 
}   

/* style scrollbar in search history div */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: rbga(0, 0, 0, 0.5); 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/* 
Carousel styles 
=============================================================================================================
*/

/* allow frame indicators to have text content */
.carousel-indicators>li{
    width: auto;
    height: auto;
    text-indent: unset;
    padding: 6px 12px;
    position: relative;
    top: 75px;
}

/* 
Main content Styles
=============================================================================================================
*/

/* add top white space to main content */
.my-panel{
    margin-top: 30px;
}

/* add glassy effect to main info container */
.glass{
    background-color: rgba(255,255,255,0.2);
    padding: 50px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255,255,255,0.2)
}

/* 
Current condition styles
=======================================================================================================================
*/

.currentInfo{
    color: black;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

#mainIcon{
    width: 300px;
}

.col-md-4{
    display: flex;
    align-items: center;
    justify-content: center;
}

.currentWeatherDiv{
    padding: 25px 75px;
    margin: 0;
}

/* 
Forecast styles
==========================================================================================================================
*/
/* style daily forecast containers */
.forecast-day{
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
    padding: 24px 12px;
    margin: 8px;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

#forecastDiv{    
    margin: 0 -40px;
}

#forecastDiv h3{
    font-size: 1em;
    text-align: center;
    color: black;
}










